# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.eggs/
.venv/
venv/
ENV/
.Python

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Build & dist
build/
dist/
*.log

# Project artifacts
results/logs/
results/plots/*.png
results/plots/metrics.csv

# Notebooks
.ipynb_checkpoints/
